HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
uml/
amani_script.sql
mvnw
mvnw.cmd
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

###Immages###
src/main/resources/StyleResources

### VS Code ###
.vscode/

### React Native ###
tazma-mobile/amani/node_modules/
tazma-mobile/amani/android/
tazma-mobile/ios/
tazma-mobile/amani/yarn.lock
tazma-mobile/amani/assets/

### React###
tazma-web/node_modules/
tazma-web/tazma/public/components/
tazma-web/tazma/public/src/
tazma-web/tazma/yarn.lock